<div class="flex w-full items-center justify-end border-gray-200 bg-white">

    <button type="button"
        class="inline-flex items-center gap-2 px-4 py-2 rounded-md text-sm font-medium text-white bg-[var(--color-primary)] hover:bg-[var(--color-primary-dark)] disabled:opacity-50"
        [disabled]="disabled || loading" (click)="action.emit()">

        <mat-icon *ngIf="actionIcon">
            {{ actionIcon }}
        </mat-icon>

        <span>{{ actionLabel }}</span>

    </button>

</div>