@if (!user) {
  <div class="flex flex-col gap-2 w-full" [ngClass]="!sidebarExpanded ? 'px-1' : ''">

    <button
      routerLink="/login"
      class="w-full h-10 rounded-xl text-sm font-medium text-primary border border-[var(--color-primary)] hover:bg-[var(--color-sidebar-hover)] flex items-center justify-center gap-2 transition-all"
    >
      <mat-icon *ngIf="!sidebarExpanded" class="!text-[18px] !w-[18px] !h-[18px]">login</mat-icon>
      <span *ngIf="sidebarExpanded">Login</span>
    </button>

    <button
      routerLink="/register"
      class="w-full h-10 rounded-xl text-sm font-medium text-white border border-[var(--color-primary)] bg-primary flex items-center justify-center gap-2 transition-all"
    >
      <mat-icon *ngIf="!sidebarExpanded" class="!text-[18px] !w-[18px] !h-[18px]">person_add</mat-icon>
      <span *ngIf="sidebarExpanded">Sign Up</span>
    </button>

  </div>
} @else {

  <div class="w-full" [ngClass]="!sidebarExpanded ? 'px-1' : ''">
    <button
      (click)="logout()"
      class="w-full h-10 rounded-xl text-sm font-medium text-white bg-red-500 hover:bg-red-600 flex items-center justify-center gap-2 transition-all"
    >
      <mat-icon *ngIf="!sidebarExpanded" class="!text-[18px] !w-[18px] !h-[18px] leading-none ml-1">logout</mat-icon>
      <span *ngIf="sidebarExpanded">Logout</span>
    </button>
  </div>

}