<nav
  class="sticky top-0 z-50 bg-surface border-b border-border shadow-sm relative"
>
  <div
    class="max-w-7xl mx-auto h-16 px-4 md:px-8 lg:px-12 flex items-center justify-between"
  >
    <!-- Logo -->
    <app-navbar-logo></app-navbar-logo>

    <!-- Desktop Links -->
    <div class="hidden lg:block">
      <app-navbar-links></app-navbar-links>
    </div>

    <!-- Right Side -->
    <div class="flex items-center gap-3">

      <!-- Search Desktop -->
      <div class="hidden lg:block">
        <app-navbar-search></app-navbar-search>
      </div>

      <!-- Auth Buttons -->
      <app-navbar-auth></app-navbar-auth>

      <!-- Burger -->
      <button
        (click)="toggleMenu()"
        class="lg:hidden flex items-center justify-center w-10 h-10 rounded-md hover:bg-gray-100"
      >
        <mat-icon>
          {{ menuOpen() ? 'close' : 'menu' }}
        </mat-icon>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <app-mobile-menu
  [class.hidden]="!menuOpen()"
  (closeMenu)="closeMenu()"
  class=" left-0 w-full z-[9999] bg-white shadow-md"
/>
</nav>
