<a
  [routerLink]="route"
  [routerLinkActiveOptions]="{ exact: true }"
class="flex items-center w-full h-11 rounded-md transition-all duration-300
       text-[var(--color-text-secondary)]
       max-sm:text-gray-300
       hover:bg-[var(--color-sidebar-hover)]
       hover:text-[var(--color-primary)]
       min-w-0"
[ngClass]="{
  'justify-center px-0': isMobile && !sidebarExpanded,
  'gap-3 px-3': !isMobile || sidebarExpanded
}"
  routerLinkActive="bg-[var(--color-sidebar-active)] text-[var(--color-primary)] font-medium"
>

<mat-icon class="menu-item__icon shrink-0 flex items-center justify-center w-5 h-5">
  {{ icon }}
</mat-icon>

  <span *ngIf="showLabel"
        class="menu-item__label whitespace-nowrap overflow-hidden transition-all duration-300">
    {{ label }}
  </span>

</a>