<div class="bg-[var(--color-background-page)] font-sans antialiased overflow-x-hidden min-h-screen">
  <div class="max-w-[1000px] mx-auto w-full px-4 sm:px-8 py-4 sm:py-8 flex flex-col gap-4 sm:gap-8 pb-20">


    <!-- Course Header -->
    <app-course-header [courseTitle]="courseTitle" [courseStatus]="courseStatus"></app-course-header>


    <div class="flex items-center justify-center gap-6  overflow-x-auto whitespace-nowrap px-2">

      <!-- Step 1 -->
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full flex items-center justify-center font-bold transition-all"
          [class.bg-[var(--color-primary)]]="currentStep() >= 1" [class.text-white]="currentStep() >= 1"
          [class.bg-gray-200]="currentStep() < 1">
          1
        </div>
      </div>

      <!-- line -->
      <div class="w-16 h-[2px]" [class.bg-[var(--color-primary)]]="currentStep() >= 2"
        [class.bg-gray-300]="currentStep() < 2">
      </div>

      <!-- Step 2 -->
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full flex items-center justify-center font-bold transition-all"
          [class.bg-[var(--color-primary)]]="currentStep() >= 2" [class.text-white]="currentStep() >= 2"
          [class.bg-gray-200]="currentStep() < 2">
          2
        </div>
      </div>

      <!-- line -->
      <div class="w-16 h-[2px]" [class.bg-[var(--color-primary)]]="currentStep() >= 3"
        [class.bg-gray-300]="currentStep() < 3">
      </div>

      <!-- Step 3 -->
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full flex items-center justify-center font-bold transition-all"
          [class.bg-[var(--color-primary)]]="currentStep() === 3" [class.text-white]="currentStep() === 3"
          [class.bg-gray-200]="currentStep() < 3">
          3
        </div>
      </div>

    </div>

    <!-- Main Course Creation Form -->
    <router-outlet></router-outlet>

  </div>
  <div class="flex justify-center">
    <app-publish-course-button [courseId]="courseId"></app-publish-course-button>
  </div>
</div>