<ul class="flex items-center gap-10">
  <li>
    <a
      routerLink="/"
      class="text-sm font-medium text-text-primary hover:text-primary transition"
    >
      Home
    </a>
  </li>

  <li>
    <a
      routerLink="/courses"
      class="text-sm font-medium text-text-primary hover:text-primary transition"
    >
      Courses
    </a>
  </li>

  <li>
    <a
      routerLink="/about"
      class="text-sm font-medium text-text-primary hover:text-primary transition"
    >
      About
    </a>
  </li>
</ul>